body{
    background-color: lightyellow;
}
h1{
font-size: 30px;
color: teal;
}
h2{
font-size: 15px;
color: red;
}
.big{
font-size: 50px;
color: blueviolet;
}
.up{
text-transform: uppercase;
}
.big.up{
color: aqua;
}
h1 span{
color: chartreuse;
}